GereTaxi/src/conf/xml-resources/web-service-references/WSGereTaxi/wsdl/localhost_8080/GereTaxi/WSGereTaxi.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://GereTaxiPackage/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://GereTaxiPackage/" name="WSGereTaxi">
<types>
<xsd:schema>
<xsd:import namespace="http://GereTaxiPackage/" schemaLocation="http://localhost:8080/GereTaxi/WSGereTaxi?xsd=1"/>
</xsd:schema>
</types>
<message name="inserirCliente">
<part name="parameters" element="tns:inserirCliente"/>
</message>
<message name="inserirClienteResponse">
<part name="parameters" element="tns:inserirClienteResponse"/>
</message>
<message name="excluirServico">
<part name="parameters" element="tns:excluirServico"/>
</message>
<message name="excluirServicoResponse">
<part name="parameters" element="tns:excluirServicoResponse"/>
</message>
<message name="registarMotorista">
<part name="parameters" element="tns:registarMotorista"/>
</message>
<message name="registarMotoristaResponse">
<part name="parameters" element="tns:registarMotoristaResponse"/>
</message>
<message name="pesquisarServico">
<part name="parameters" element="tns:pesquisarServico"/>
</message>
<message name="pesquisarServicoResponse">
<part name="parameters" element="tns:pesquisarServicoResponse"/>
</message>
<message name="listarClientes">
<part name="parameters" element="tns:listarClientes"/>
</message>
<message name="listarClientesResponse">
<part name="parameters" element="tns:listarClientesResponse"/>
</message>
<message name="pesquisarCliente">
<part name="parameters" element="tns:pesquisarCliente"/>
</message>
<message name="pesquisarClienteResponse">
<part name="parameters" element="tns:pesquisarClienteResponse"/>
</message>
<message name="inserirServico">
<part name="parameters" element="tns:inserirServico"/>
</message>
<message name="inserirServicoResponse">
<part name="parameters" element="tns:inserirServicoResponse"/>
</message>
<message name="listarServicos">
<part name="parameters" element="tns:listarServicos"/>
</message>
<message name="listarServicosResponse">
<part name="parameters" element="tns:listarServicosResponse"/>
</message>
<message name="excluirCliente">
<part name="parameters" element="tns:excluirCliente"/>
</message>
<message name="excluirClienteResponse">
<part name="parameters" element="tns:excluirClienteResponse"/>
</message>
<message name="checkLogin">
<part name="parameters" element="tns:checkLogin"/>
</message>
<message name="checkLoginResponse">
<part name="parameters" element="tns:checkLoginResponse"/>
</message>
<portType name="WSGereTaxi">
<operation name="inserirCliente">
<input wsam:Action="http://GereTaxiPackage/WSGereTaxi/inserirClienteRequest" message="tns:inserirCliente"/>
<output wsam:Action="http://GereTaxiPackage/WSGereTaxi/inserirClienteResponse" message="tns:inserirClienteResponse"/>
</operation>
<operation name="excluirServico">
<input wsam:Action="http://GereTaxiPackage/WSGereTaxi/excluirServicoRequest" message="tns:excluirServico"/>
<output wsam:Action="http://GereTaxiPackage/WSGereTaxi/excluirServicoResponse" message="tns:excluirServicoResponse"/>
</operation>
<operation name="registarMotorista">
<input wsam:Action="http://GereTaxiPackage/WSGereTaxi/registarMotoristaRequest" message="tns:registarMotorista"/>
<output wsam:Action="http://GereTaxiPackage/WSGereTaxi/registarMotoristaResponse" message="tns:registarMotoristaResponse"/>
</operation>
<operation name="pesquisarServico">
<input wsam:Action="http://GereTaxiPackage/WSGereTaxi/pesquisarServicoRequest" message="tns:pesquisarServico"/>
<output wsam:Action="http://GereTaxiPackage/WSGereTaxi/pesquisarServicoResponse" message="tns:pesquisarServicoResponse"/>
</operation>
<operation name="listarClientes">
<input wsam:Action="http://GereTaxiPackage/WSGereTaxi/listarClientesRequest" message="tns:listarClientes"/>
<output wsam:Action="http://GereTaxiPackage/WSGereTaxi/listarClientesResponse" message="tns:listarClientesResponse"/>
</operation>
<operation name="pesquisarCliente">
<input wsam:Action="http://GereTaxiPackage/WSGereTaxi/pesquisarClienteRequest" message="tns:pesquisarCliente"/>
<output wsam:Action="http://GereTaxiPackage/WSGereTaxi/pesquisarClienteResponse" message="tns:pesquisarClienteResponse"/>
</operation>
<operation name="inserirServico">
<input wsam:Action="http://GereTaxiPackage/WSGereTaxi/inserirServicoRequest" message="tns:inserirServico"/>
<output wsam:Action="http://GereTaxiPackage/WSGereTaxi/inserirServicoResponse" message="tns:inserirServicoResponse"/>
</operation>
<operation name="listarServicos">
<input wsam:Action="http://GereTaxiPackage/WSGereTaxi/listarServicosRequest" message="tns:listarServicos"/>
<output wsam:Action="http://GereTaxiPackage/WSGereTaxi/listarServicosResponse" message="tns:listarServicosResponse"/>
</operation>
<operation name="excluirCliente">
<input wsam:Action="http://GereTaxiPackage/WSGereTaxi/excluirClienteRequest" message="tns:excluirCliente"/>
<output wsam:Action="http://GereTaxiPackage/WSGereTaxi/excluirClienteResponse" message="tns:excluirClienteResponse"/>
</operation>
<operation name="checkLogin">
<input wsam:Action="http://GereTaxiPackage/WSGereTaxi/checkLoginRequest" message="tns:checkLogin"/>
<output wsam:Action="http://GereTaxiPackage/WSGereTaxi/checkLoginResponse" message="tns:checkLoginResponse"/>
</operation>
</portType>
<binding name="WSGereTaxiPortBinding" type="tns:WSGereTaxi">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="inserirCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="excluirServico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registarMotorista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pesquisarServico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pesquisarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserirServico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarServicos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="excluirCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSGereTaxi">
<port name="WSGereTaxiPort" binding="tns:WSGereTaxiPortBinding">
<soap:address location="http://localhost:8080/GereTaxi/WSGereTaxi"/>
</port>
</service>
</definitions>