GereTaxi/src/conf/xml-resources/web-service-references/WSGereTaxi/wsdl/localhost_8080/GereTaxi/WSGereTaxi.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://GereTaxiPackage/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://GereTaxiPackage/">

<xs:element name="checkLogin" type="tns:checkLogin"/>

<xs:element name="checkLoginResponse" type="tns:checkLoginResponse"/>

<xs:element name="excluirCliente" type="tns:excluirCliente"/>

<xs:element name="excluirClienteResponse" type="tns:excluirClienteResponse"/>

<xs:element name="excluirServico" type="tns:excluirServico"/>

<xs:element name="excluirServicoResponse" type="tns:excluirServicoResponse"/>

<xs:element name="inserirCliente" type="tns:inserirCliente"/>

<xs:element name="inserirClienteResponse" type="tns:inserirClienteResponse"/>

<xs:element name="inserirServico" type="tns:inserirServico"/>

<xs:element name="inserirServicoResponse" type="tns:inserirServicoResponse"/>

<xs:element name="listarClientes" type="tns:listarClientes"/>

<xs:element name="listarClientesResponse" type="tns:listarClientesResponse"/>

<xs:element name="listarServicos" type="tns:listarServicos"/>

<xs:element name="listarServicosResponse" type="tns:listarServicosResponse"/>

<xs:element name="pesquisarCliente" type="tns:pesquisarCliente"/>

<xs:element name="pesquisarClienteResponse" type="tns:pesquisarClienteResponse"/>

<xs:element name="pesquisarServico" type="tns:pesquisarServico"/>

<xs:element name="pesquisarServicoResponse" type="tns:pesquisarServicoResponse"/>

<xs:element name="registarMotorista" type="tns:registarMotorista"/>

<xs:element name="registarMotoristaResponse" type="tns:registarMotoristaResponse"/>

<xs:complexType name="registarMotorista">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registarMotoristaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pesquisarServico">
<xs:sequence>
<xs:element name="processo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pesquisarServicoResponse">
<xs:sequence>
<xs:element name="return" type="tns:servico" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="servico">
<xs:sequence>
<xs:element name="custoPortagens" type="xs:string" minOccurs="0"/>
<xs:element name="data" type="xs:string" minOccurs="0"/>
<xs:element name="destino" type="xs:string" minOccurs="0"/>
<xs:element name="distancia" type="xs:string" minOccurs="0"/>
<xs:element name="horaDeInicio" type="xs:string" minOccurs="0"/>
<xs:element name="horasDeEspera" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nomeCliente" type="xs:string" minOccurs="0"/>
<xs:element name="numPassageiros" type="xs:int"/>
<xs:element name="origem" type="xs:string" minOccurs="0"/>
<xs:element name="processo" type="xs:string" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
<xs:element name="trajeto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="excluirServico">
<xs:sequence>
<xs:element name="processo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="excluirServicoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="excluirCliente">
<xs:sequence>
<xs:element name="cliente" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="codigoPostal" type="xs:string" minOccurs="0"/>
<xs:element name="contacto" type="xs:int"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="morada" type="xs:string" minOccurs="0"/>
<xs:element name="nif" type="xs:int"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="excluirClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirServico">
<xs:sequence>
<xs:element name="processo" type="xs:string" minOccurs="0"/>
<xs:element name="nomeCliente" type="xs:string" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
<xs:element name="horaDeInicio" type="xs:string" minOccurs="0"/>
<xs:element name="data" type="xs:string" minOccurs="0"/>
<xs:element name="origem" type="xs:string" minOccurs="0"/>
<xs:element name="destino" type="xs:string" minOccurs="0"/>
<xs:element name="trajeto" type="xs:string" minOccurs="0"/>
<xs:element name="distancia" type="xs:string" minOccurs="0"/>
<xs:element name="horasDeEspera" type="xs:string" minOccurs="0"/>
<xs:element name="numPassageiros" type="xs:int"/>
<xs:element name="custoPortagens" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirServicoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pesquisarCliente">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pesquisarClienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirCliente">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="morada" type="xs:string" minOccurs="0"/>
<xs:element name="codigoPostal" type="xs:string" minOccurs="0"/>
<xs:element name="nif" type="xs:int"/>
<xs:element name="contacto" type="xs:int"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkLogin">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarClientes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarClientesResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarServicos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarServicosResponse">
<xs:sequence>
<xs:element name="return" type="tns:servico" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>